.server-block {
  background-color: #ffffff;
  margin-top: 5vh;
  width: 50vw;
  text-align: left;
  border-radius: 0.4rem;
  margin-bottom: 5rem;
}

.server-block .label {
  background-color: var(--main-bg-color);
  margin-right: 5vw;
  margin-top: 5vh;
  margin-bottom: 1.5vh;
  display: flex;
  justify-content: right;
  text-align: right;
}

.server-block .label h1 {
  font-size: 2rem;
  color: #eeecec;
  font-weight: 600;
  margin-left: 5vw;
}

.jumbotron {
  margin: 0;
}
.server-info {
  padding: 10%;
}
.large-image {
  width: 100%;
}
.server-buttons {
  padding: 5% 20% 5% 20%;
}

#server-description {
  margin-top: 5vh;
}

main {
  background-color: #eeecec;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 0;
}
@media screen and (max-width: 750px) {
  #server-description h1 {
    font-size: 1.5rem;
  }
  #server-description p {
    font-size: 1rem;
  }
  .server-block {
    width: 75vw;
  }
}
@media screen and (max-width: 450px) {
  #server-description h1 {
    font-size: 1rem;
    font-weight: 700;
  }
  #server-description p {
    font-size: 0.8rem;
  }
  .server-block {
    width: 90vw;
  }
}
